body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

#top {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #707070;
    font-variant: small-caps;
}

#logo {
    color: white;
    background-color: rgb(95, 95, 95);
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    padding: 8px;
    margin-top: 16px;
}

#logo-name {
    font-size: 50px;
    font-weight: lighter;
    margin: 10px;
}

#navigation {
   position: sticky;
    top: 0;
    background: white;
}

#navigation a:link, a:visited {
    background-color: #ffffff;
    color: rgb(95, 95, 95);
    padding: 16px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#navigation a:hover {
    background-color: rgb(95, 95, 95);
    color: #ffffff;
    text-align:center;
  }

#image img {
    width: 100%;
  height: 800px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#main {
    max-width: 800px;
    margin: auto;
    padding: 16px;
}

#footer {
    text-align: center;
    color: gray;
    padding: 16px;
}

#navig a:link, a:visited {
    background-color: #ffffff;
    color: rgb(95, 95, 95);
    padding: 14px 25px;
    text-align: center;
    font-size: larger;
    text-decoration: none;
    display: inline-block;
  }
  
#navig a:hover {
    background-color: rgb(95, 95, 95);
    color: #ffffff;
    text-align:center;
  }

.dropbtn {
    background-color: #ffffff;
    color: rgb(95, 95, 95);
    padding: 16px;
    font-size: 20px;
    border: none;
    font-variant: small-caps;
  }

  .dropdown {
    position: relative;
      display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(92, 92, 92);
    padding: 12px 8px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: rgb(255, 255, 255);}

.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: rgb(95, 95, 95);
color: #ffffff;}


div.gallery {
    border: 0px solid #ccc;
}

div.gallery:hover {
    border: 3px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}